@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');


h1 {
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
  letter-spacing: .1em;
  font-size: 2.5em;
  margin-left: .5em;
}