@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');

.location {
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
  text-transform: lowercase;
  margin-top: -1rem;
}

.tagline {
  font-family: 'Open Sans', sans-serif;
  margin-top: -1rem;
}

.result-card-img {
  width: 20em;
  height: 10em;
}

.result-card {
  border: 1px solid #000;
  width: 20em;
  margin: 2rem;
}

.text-content {
  padding: 1rem;
}