@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');

.location {
  font-family: 'Abril Fatface', cursive;

}

.tagline p {
  font-family: 'Open Sans', sans-serif;
}