@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');

.location {
  font-family: 'Abril Fatface', cursive;

}

.tagline, p {
  font-family: 'Open Sans', sans-serif;
}

.result-card-img {
  width: 20em;
  height: 10em;
}

.result-card {
  border: 1px solid #000;
  width: 20em;
  margin: 2rem;
}

.text-content {
  padding: 1rem;
}