@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');

.headerContent {
  padding: 1em;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #BFBFBF;
  text-align: right;
  font-weight: lighter;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  text-transform: lowercase;
  text-align: right;
  margin-top: -1em;
}