body, html {
  height: 100%;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../public/imgs/home.jpg');
  background-size: cover;
}

.homeNav {
  display: flex;
  justify-content: end;
}

ul {
  list-style: none;
  display: flex;
  justify-content: end;
}

.homeLink {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}