.homeNav {
  display: flex;
  justify-content: end;
}

ul {
  list-style: none;
  display: flex;
  justify-content: end;
}

.homeLink {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}